<form #formationForm="ngForm" (ngSubmit)="add(formationForm)">
  <div class="form-group">
    <label for="title">title</label>
    <input name="title" class="form-control" id="title" [(ngModel)]="formation.title">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input name="description" class="form-control" id="description" [(ngModel)]="formation.description">
  </div>

  <button type="submit" class="btn btn-primary">add</button>
  <button type="reset" class="btn btn-primary">reset</button>
</form>

<pre>{{formationForm.value | json}}</pre>

<form novalidate [formGroup]="formationFormRx" (ngSubmit)="saveRx()">
  <label for="title">title</label>
  <input formControlName="title">
  <br>

  <label for="description">description</label>
  <input  formControlName="description">

  <button type="submit">Save</button>

</form>

<pre>{{formationFormRx.value | json}}</pre>

<form [formGroup]="formationFormRx" novalidate (ngSubmit)="saveRx()">
  <div class="form-group" [ngClass]="{'has-error':!formationFormRx.controls['title'].valid && formationFormRx.controls['title'].touched}">
    <label for="title">Title</label>
    <input type="text" placeholder="title" class="form-control" formControlName="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" placeholder="description" class="form-control" formControlName="description">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!formationFormRx.valid">Add</button>
  <button class="btn btn-primary" type="reset">Reste</button>
</form>